#page {
  padding: 0rem;
  padding-top: 1.5rem;
}

#header {
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 0;
  background-color: rgb(0, 21, 51);
  /*border-bottom: 1px solid #D15D00;*/
  /*border-top: 1px solid #D15D00;*/
}

#header h1{
  font-size: 210%;
  padding: 0;
  margin: 0 1.5rem 1.3rem 0;
  display: inline-block;
  vertical-align: middle;
}

#header .subtitle {
  font-size: 90%;
  vertical-align: middle;
  margin-top: .2rem;
  padding: .1rem .5rem .2rem;
  display: inline-block;
}

#header .subtitle a {
  padding: .3rem .3rem .1rem;
  display: inline-block;
  font-weight: bolder;
}

#body {
  margin: 0 auto;
  padding: 0;
}

#body h2 {
  font-size: 400%;
}

#body h2 i.fa {
  font-size: 70%;
}

#body .menu {
  text-align: center;
  margin-bottom: .5rem;
  padding: 1rem 1rem 2rem;
}

#nav {
  padding: 4rem 0 0;
  /*border-top: 1px solid #D15D00;*/
}

#motto {
  padding: 3rem 0 2.5rem;
  margin: 0 auto;
}

#motto h1 {
  font-size: 500%;
  margin: 0;
  padding: 0 1rem 1.5rem;
}

#motto a.wavy {
  padding: .3rem .3rem .1rem;
  display: inline-block;
  font-weight: bold;
}

#footer {
  font-size: 80%;
  padding: 2rem 0rem 0;
}

#footer strong {
  border-bottom-width: 2px;
}

#footer .copy {
  text-align: center;
  padding: 0rem 0 1.5rem;
  margin: 0;
  margin-top: 0rem;
}

#donate .buttons {
  margin-top: 2rem;
}

#thanks .list {
  padding-top: 4rem;
}

.thanks dd {
  border-bottom-style: dotted;
  border-bottom-color: rgb(180, 192, 209);
  border-bottom-color: #D15D00;
  border-bottom-width: 2px;
  display: inline-block;
  padding: 1rem 2rem 2rem;
}

.thanks dt {
  padding: 1rem .8rem 0;
  text-align: center;
}